html{
    font-family: 'Montserrat', sans-serif;
}
/*shift + ctrl + r*/
*{
/*	border: 1px solid red;*/
}

table{
    border-collapse: collapse;
}

table th{
    font-size: 20px;
}

table td{
  border: 1px solid black;
    text-align: center;
    height: 50px;
    width: 50px;
}

::selection{
    background-color: transparent;
}

::-moz-selection {
    background-color: transparent;
}

.pin{
	font-size: 30px;
	width: 50px;
	height: 50px;
    text-align: center;
    color: transparent;
    text-shadow: 0 0 0 black;
    border: transparent;
}

.pin:hover{
    background-color: #ADD8E6;
}
input:focus{
    outline:none;
    background-color: #ADD8E6;
}
.pin:clicked{
    background-color: black;
}

#button{
	margin-top: 20px;
}
.letter{
    padding-right: 10px;
}

.row1{
    border-top: 5px solid black;
}

.row9{
    border-bottom: 5px solid black;
}

.col1{
    border-left: 5px solid black;
}

.row1col1{
    border-top: 5px solid black;
    border-left: 5px solid black;
}

.row9col1{
    border-bottom: 5px solid black;
    border-left: 5px solid black;
}

.row1col9{
    border-top: 5px solid black;
    border-right: 5px solid black;
}

.col9{
    border-right: 5px solid black;
}

.row9col9{
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}