html{
    font-family: 'Montserrat', sans-serif;
}
/*shift + ctrl + r*/
*{
/*	border: 1px solid red;*/
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
/*    background-color: antiquewhite;*/
    background-color: aliceblue;
    height: 650px;
    min-width: 1000px;
    padding-top: 50px;
}

.features{
/*    background-color: aqua;*/
    width: 40%;
}

.imageupload{
    padding-top: 10px;
/*    background-color: aliceblue;*/
}

/*
.custom-file-input::-webkit-file-upload-button{
    visibility: hidden;
}
*/

/*
.custom-file-input::before{
    content: 'Choose file';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 7px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px black;
    font-weight: 700;
    font-size: 10pt;
}
*/

/*
.custom-file-input:hover::before{
    border-color: black;
}
*/

/*
.cutom-file-input:active::before{
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
*/

input[type='file']{
    display: none;
/*
    width: 200px;
    height: 50px;
*/
/*
    color: transparent;
    width: 90px;
    height: 30px;
*/
}

label{
    color: white;
    height: 40px;
    width: 180px;
    background-color: #f5af09;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    border-radius: 5px;
}



table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: 150px;
/*    display: inline;*/
/*    background-color: aliceblue;*/
/*
    width: 700px;
    height: 550px;
*/
}

.tablewrapper{
/*    background-color: aliceblue;*/
    width: 60%;
}

table th{
    font-size: 20px;
}

table td{
  border: 1px solid black;
    text-align: center;
    height: 50px;
    width: 50px;
}

::selection{
    background-color: transparent;
}

::-moz-selection {
    background-color: transparent;
}

.pin{
	font-size: 30px;
	width: 50px;
	height: 50px;
    text-align: center;
    color: transparent;
    text-shadow: 0 0 0 black;
    border: transparent;
}

.pin:hover{
    cursor: pointer;
/*    background-color: #ADD8E6;*/
}
input:focus{
    outline:none;
    background-color: #ADD8E6;
}
.pin:clicked{
    background-color: black;
}

#button{
	background-color: #249369;
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 200px;
    height: 50px;
    border: transparent;
    border-radius: 5px;
/*    margin-left: 50px;*/
    margin-top: 240px;
    cursor: pointer;
}

.btn{
    background-color: #428BCA;
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 180px;
    height: 40px;
    border: transparent;
    border-radius: 20px;
/*    margin-left: 50px;*/
    margin-top: 10px;
    cursor: pointer;
}

.btn:hover{
    background-color: #42a1ca;
}

#button:hover{
    background-color: #2EBC86;
}

.form-group{
/*    background-color: aliceblue;*/
    margin-top: 20px;
}

.formwrap{
    margin-left: 50px;
}

.letter{
    padding-right: 10px;
}

.row1{
    border-top: 5px solid black;
}

.row9{
    border-bottom: 5px solid black;
}

.col1{
    border-left: 5px solid black;
}

.row1col1{
    border-top: 5px solid black;
    border-left: 5px solid black;
}

.row9col1{
    border-bottom: 5px solid black;
    border-left: 5px solid black;
}

.row1col9{
    border-top: 5px solid black;
    border-right: 5px solid black;
}

.col9{
    border-right: 5px solid black;
}

.row9col9{
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}