<!DOCTYPE html>
<html>
   <head>
      <title>Sudoku Solver</title>
      <link rel="shortcut icon" href= "/static/favicon.ico">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
         rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
      <script src="/static/script.js"></script>
      <link rel="stylesheet" maxlength = "1" type="text/css" href="/static/index.css">
   </head>
   <body>
      <div class="container">
         <div class="row">
            <div class="col">
               <h1 id = "title" style="text-align: center; min-width: 1000px; color: #000B4F">Sudoku Solver</h1>
                <p id = "credits">Created by Allen Ye and Richard Cao. Source code can be found <a href="https://github.com/allenye66/SudokuSolver" target="_blank">here</a>.</p>
               <hr>
            </div>
         </div>
      </div>
          <div class="wrapper">
              <div>
            <p id="para" style="padding-left: 30px;">Input numbers into the grid below:</p>
         <form name = "search" action = "/send" method = "POST">
               <div style="padding-left:60px;" class="tablewrapper">
                  <table cellspacing="0">
                     <tr>
                        <th></th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                     </tr>
                     <tr>
                        <th class="letter">A</th>
                        <td class="row1col1"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type = "text" class = "pin" name="0,0"></td>
                        <td class="row1"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="1,0"></td>
                        <td class="row1" style="border-right: 5px solid black;"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="2,0"></td>
                        <td class="row1"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="3,0"></td>
                        <td class="row1"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="4,0"></td>
                        <td class="row1" style="border-right: 5px solid black;"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="5,0"></td>
                        <td class="row1"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="6,0"></td>
                        <td class="row1"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="7,0"></td>
                        <td class="row1col9"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="8,0"></td>
                     </tr>
                     <tr>
                        <th class="letter">B</th>
                        <td class="col1"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="0,1"></td>
                        <td><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="1,1"></td>
                        <td style="border-right: 5px solid black;"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="2,1"></td>
                        <td><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="3,1"></td>
                        <td><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="4,1"></td>
                        <td style="border-right: 5px solid black;"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="5,1"></td>
                        <td><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="6,1"></td>
                        <td><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="7,1"></td>
                        <td class="col9"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="8,1"></td>
                     </tr>
                     <tr>
                        <th class="letter">C</th>
                        <td class="col1" style="border-bottom: 5px solid black;"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="0,2"></td>
                        <td style="border-bottom: 5px solid black;"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="1,2"></td>
                        <td style="border-right: 5px solid black; border-bottom: 5px solid black"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="2,2"></td>
                        <td style="border-bottom: 5px solid black;"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="3,2"></td>
                        <td style="border-bottom: 5px solid black;"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="4,2"></td>
                        <td style="border-right: 5px solid black; border-bottom: 5px solid black;"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="5,2"></td>
                        <td style="border-bottom: 5px solid black;"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="6,2"></td>
                        <td style="border-bottom: 5px solid black;"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="7,2"></td>
                        <td class="col9" style="border-bottom: 5px solid black;"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="8,2"></td>
                     </tr>
                     <tr>
                        <th class="letter">D</th>
                        <td class="col1"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="0,3"></td>
                        <td><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="1,3"></td>
                        <td style="border-right: 5px solid black;"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="2,3"></td>
                        <td><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="3,3"></td>
                        <td><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="4,3"></td>
                        <td style="border-right: 5px solid black;"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="5,3"></td>
                        <td><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="6,3"></td>
                        <td><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="7,3"></td>
                        <td class="col9"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="8,3"></td>
                     </tr>
                     <tr>
                        <th class="letter">E</th>
                        <td class="col1"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="0,4"></td>
                        <td><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="1,4"></td>
                        <td style="border-right: 5px solid black;"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="2,4"></td>
                        <td><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="3,4"></td>
                        <td><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="4,4"></td>
                        <td style="border-right: 5px solid black;"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="5,4"></td>
                        <td><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="6,4"></td>
                        <td><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="7,4"></td>
                        <td class="col9"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="8,4"></td>
                     </tr>
                     <tr>
                        <th class="letter">F</th>
                        <td class="col1" style="border-bottom: 5px solid black;"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="0,5"></td>
                        <td style="border-bottom: 5px solid black;"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="1,5"></td>
                        <td style="border-right: 5px solid black; border-bottom: 5px solid black;"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="2,5"></td>
                        <td style="border-bottom: 5px solid black;"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="3,5"></td>
                        <td style="border-bottom: 5px solid black;"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="4,5"></td>
                        <td style="border-right: 5px solid black; border-bottom: 5px solid black;"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="5,5"></td>
                        <td style="border-bottom: 5px solid black;"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="6,5"></td>
                        <td style="border-bottom: 5px solid black;"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="7,5"></td>
                        <td class="col9" style="border-bottom: 5px solid black;"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="8,5"></td>
                     </tr>
                     <tr>
                        <th class="letter">G</th>
                        <td class="col1"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="0,6"></td>
                        <td><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="1,6"></td>
                        <td style="border-right: 5px solid black;"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="2,6"></td>
                        <td><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="3,6"></td>
                        <td><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="4,6"></td>
                        <td style="border-right: 5px solid black;"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="5,6"></td>
                        <td><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="6,6"></td>
                        <td><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="7,6"></td>
                        <td class="col9"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="8,6"></td>
                     </tr>
                     <tr>
                        <th class="letter">H</th>
                        <td class="col1"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="0,7"></td>
                        <td><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="1,7"></td>
                        <td style="border-right: 5px solid black;"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="2,7"></td>
                        <td><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="3,7"></td>
                        <td><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="4,7"></td>
                        <td style="border-right: 5px solid black;"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="5,7"></td>
                        <td><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="6,7"></td>
                        <td><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="7,7"></td>
                        <td class="col9"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="8,7"></td>
                     </tr>
                     <tr>
                        <th class="letter">I</th>
                        <td class="row9col1"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="0,8"></td>
                        <td class="row9"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="1,8"></td>
                        <td class="row9" style="border-right: 5px solid black;"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="2,8"></td>
                        <td class="row9"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="3,8"></td>
                        <td class="row9"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="4,8"></td>
                        <td class="row9" style="border-right: 5px solid black;"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="5,8"></td>
                        <td class="row9"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="6,8"></td>
                        <td class="row9"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="7,8"></td>
                        <td class="row9col9"><input autocomplete="off"onCLick="this.select();" maxlength = "1" type="text" class = "pin" name="8,8"></td>
                     </tr>
                  </table>
               
              
              
             <button type="submit" class="btn btn-primary" id = "button">Solve Puzzle</button>
            </div>
          </form>
        </div>

       <div class = "uploadPic">
         <div id = "para">
         <p>Upload a picture of your grid: </p>
         <p id = "explanation">How our program works: After the user submits an image, we send the image to our flask server. From there, we preprocess the image using Gaussian Blurring and Thresholding. Afterwards, we locate the Sudoku grid in the image using the Hough Line Transform algorithm. After getting an image with just the grid, we splice the grid into 81 seperate images and use a CNN with approximately 99 percent accuracy to predict the numbers in each grid. These numbers are added to an array and we use our Sudoku solving algorithm to solve the puzzle. </p>
      </div>
       <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
                    <label for="filebutton" class="filebuttontext">Choose File</label>
                    <input id="filebutton" type="file" name="file" accept="image/*">
                    <label style="margin-top: 20px;" for="submitbutton" class="filebuttontext">Submit</label>
                    <input id="submitbutton" type="submit" value="send">
			</form>
      </div>
          </div>
      
   </body>
</html>