<!DOCTYPE html>
<html>
   <head>
      <title>File Upload</title>
      <link rel="stylesheet" href="index.css">
   </head>
   <body>
      <div class="TextField">
      <form name = "search" action = "/send" method = "POST">
        <div class = "column1">
         <table>
            <tr class = "box">
               <td><input type="text" class = "pin" name="0,0"></td>
               <td><input type="text" class = "pin" name="1,0"></td>
               <td><input type="text" class = "pin" name="2,0"></td>
            </tr>
            <tr>
               <td><input type="text" class = "pin" name="0,1"></td>
               <td><input type="text" class = "pin" name="1,1"></td>
               <td><input type="text" class = "pin" name="2,1"></td>
            </tr>
            <tr>
               <td><input type="text" class = "pin" name="0,2"></td>
               <td><input type="text" class = "pin" name="1,2"></td>
               <td><input type="text" class = "pin" name="2,2"></td>
            </tr>
         </table>
         <br>
         <table>
            <tr class = "box">
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
            </tr>
            <tr>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
            </tr>
            <tr>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
            </tr>
         </table>
         <br>
         <table>
            <tr class = "box">
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
            </tr>
            <tr>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
            </tr>
            <tr>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
            </tr>
         </table>
     </div>
     <br>
     <div class = "column2">
         <table>
            <tr class = "box">
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
            </tr>
            <tr>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
            </tr>
            <tr>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
            </tr>
         </table>
         <br>
         <table>
            <tr class = "box">
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
            </tr>
            <tr>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
            </tr>
            <tr>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
            </tr>
         </table>
         <br>
         <table>
            <tr class = "box">
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
            </tr>
            <tr>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
            </tr>
            <tr>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
            </tr>
         </table>
     </div>
     <br>
      <div class = "column3">
         <table>
            <tr class = "box">
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
            </tr>
            <tr>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
            </tr>
            <tr>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
            </tr>
         </table>
         <br>
         <table>
            <tr class = "box">
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
            </tr>
            <tr>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
            </tr>
            <tr>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
            </tr>
         </table>
         <br>
         <table>
            <tr class = "box">
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
            </tr>
            <tr>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
            </tr>
            <tr>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
               <td><input type="text" class = "pin" name="numbers"></td>
            </tr>
         </table>
        </div>
        <input type = "submit" value = "submit">
        </form>
      <div>

        <!-- FIX THIS -->
        <script>
            jQuery('.pin').keyup(function () { 
            this.value = this.value.replace(/[^0-9\.]/g,'');
            });
        </script>





      <!--
         <div class="TextField">
            <form name = "search" action = "/send" method = "POST">
                <label> Text: </label> 
                        <input type="text" class = "pin" name="numbers"  =70>
                <input type = "submit" value = "submit">
            </form>
         <div>
               
         
         <form id="uploadbanner" enctype="multipart/form-data" method="post" action="#">
                    <input id="fileupload" name="myfile" type="file" />
                    <input type="submit" value="submit" id="submit" />
         </form>
         
         <div contenteditable=true>
         <table>
           <tr>
             <td>1</td>
             <td>2</td>
             <td>3</td>
           </tr>
           <tr>
             <td>4</td>
             <td>5</td>
             <td>6</td>
           </tr>
           <tr>
             <td>7</td>
             <td>8</td>
             <td>9</td>
           </tr>
         </table>
         </div>
         <table class="table">
           <thead>
               <tr>
                   <td colspan="2"><input type="text" ></td>
                   <td colspan="2"><input type="text" ></td>
                   <td colspan="2"><input type="text" ></td>
               </tr>
               <tr>
                   <td colspan="2"><input type="text" ></td>
                   <td colspan="2"><input type="text" ></td>
                   <td colspan="2"><input type="text" ></td>
               </tr>
               <tr>
                   <td colspan="2"><input type="text" ></td>
                   <td colspan="2"><input type="text" ></td>
                   <td colspan="2"><input type="text" ></td>
               </tr>
           </thead>
         </table>
         <br>
         <table class="table">
           <thead>
               <tr>
                   <td colspan="2"><input type="text" ></td>
                   <td colspan="2"><input type="text" ></td>
                   <td colspan="2"><input type="text" ></td>
               </tr>
               <tr>
                   <td colspan="2"><input type="text" ></td>
                   <td colspan="2"><input type="text" ></td>
                   <td colspan="2"><input type="text" ></td>
               </tr>
               <tr>
                   <td colspan="2"><input type="text" ></td>
                   <td colspan="2"><input type="text" ></td>
                   <td colspan="2"><input type="text" ></td>
               </tr>
           </thead>
         </table>
         <br>
         <table class="table">
           <thead>
               <tr>
                   <td colspan="2"><input type="text" ></td>
                   <td colspan="2"><input type="text" ></td>
                   <td colspan="2"><input type="text" ></td>
               </tr>
               <tr>
                   <td colspan="2"><input type="text" ></td>
                   <td colspan="2"><input type="text" ></td>
                   <td colspan="2"><input type="text" ></td>
               </tr>
               <tr>
                   <td colspan="2"><input type="text" ></td>
                   <td colspan="2"><input type="text" ></td>
                   <td colspan="2"><input type="text" ></td>
               </tr>
           </thead>
         </table>
         -->
   </body>
</html>